<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/static/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="adicionarDocumento">
        <div class="titleDoc">
            <h1>Adicionar Documento</h1>
        </div>
        <div class="addDoc">
            <form method="POST" enctype="multipart/form-data" action="{% url 'adicionar_documento' aluno.id %}">
                {% csrf_token %}
                <input type="text" name="titulo" placeholder="Título do Documento" required>
                <input type="file" name="arquivo" required>
                <button type="submit">Adicionar Documento</button>
            </form>
    

        </div>

    </div>
</body>
</html>


