<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Aluno</title>
</head>
<body>
    <h1>Detalhes do Aluno</h1>
    <h2>{{ aluno.nome }}</h2>
    <p>Matrícula: {{ aluno.matricula }}</p>
    <p>Data de Nascimento: {{ aluno.data_nascimento }}</p>
    <p>Endereço: {{ aluno.endereco }}</p>
    <p>Contato: {{ aluno.telefone }}</p>
    <p>Informações Adicionais: {{ aluno.info }}</p>
</body>
</html>
