{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/templates/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
 <div class="contentIndex">
  
 </div>
  <div class="sidebar">
    <div class="imgProfile">
      <img src="https://images.unsplash.com/photo-1507003211169-0a1dd7228f2d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=387&q=80" alt="">
    </div>
   <div class="informationsTeacher">
    <strong>Pedro dos santos</strong> 
    <p>pedro@professor.com.br</p>
   </div>
    <div class="linksPrincipais">
      <a href="{% url 'consultar_frequencia' %}">Frequencia</a>
      <a href="">Alunos</a>
      <a href="{% url 'ver_notas' %}">Notas</a>
      <a href="">Disciplina</a>
    </div>
  </div>
<!-- {% block content %} -->
<div class="navbar">
  <h1>Lista de Alunos</h1>
</div>
<div class="container">
  <div class="pesquisar">
   <div class="inputPesquisar">
    <input type="text" placeholder="Pesquise por id ou nome">
   </div> 

  <div class="buttons">
    <a href="{¨% url 'detalhes_aluno' %}"></a>
    <button>Pesquisar</button>
    <a href="{% url 'adicionar_aluno' %}">
      <button>Adicionar</button>
      </a>
  </div>
</div>
  <table>
    <thead>
      <tr>
        <th>Matrícula</th>
        <th>Nome</th>
        <th>E-mail</th>
      </tr>
    </thead>
    <tbody>
      <!-- {% for aluno in alunos %} -->
      <tr>
        <td>{{ aluno.matricula }}</td>
        <td><a href="{% url 'detalhes_aluno' aluno.id  %}">{{aluno.nome}}</a></td>
        <td>{{ aluno.email }}</td>
      </tr>
      <!-- {% endfor %} -->
    </tbody>
  </table>
  <!-- {% endblock %} -->
</div>

</body>
</html>

