{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templates/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <div class="resgistrarNota">
        <h1>Registro de Notas</h1>
         <div class="inputNotas">
            <form action="{% url 'registrar_notas' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="aluno" placeholder="Nome do Aluno">
                <input type="text" name="disciplina" placeholder="Nome da Disciplina">
                <input type="number" name="nota" placeholder="Nota">
                <button type="submit">Registrar</button>
            </form>
         </div>
    </div>
</body>
</html>