{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/templates/static/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <div class="verNotas">
    <div class="notasInformacoes">
      <h2>Notas de {{ aluno.nome }}</h2>
    <ul>
      {% for nota in notas %}
      <li>{{ nota.disciplina.nome }}: {{ nota.valor }}</li>
      {% empty %}
      <li>Nenhuma nota registrada.</li>
      {% endfor %}
    </ul>
    <div class="buttonMedia">
      <a href="{% url 'ver_media' aluno.id %}">
        <button>Ver Média</button>
      </a>
    </div>
   
    </div>

  </div>
</body>

</html>