{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    

    <form class="form-input login" method="POST"> {% csrf_token %}
        <h1>Cadastro</h1>
        <input name="username" type="text" placeholder="Usuario">
        <input name="email" type="email" placeholder="Email">
        <input name="password" type="password" placeholder="Senha">
        <input name="password_repeat" type="password" placeholder="Repita sua Senha">
        <button type="submit">Entrar</button>
    </form>

    

</body>
</html>